.about-intro {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    /* grid-template-columns: 2fr 1fr; */
    gap: 50vh;
    padding: 0 60px 0 60px;
    align-items: flex-end;
    max-width: 800px;
    margin: 0 auto 100px auto;
    position: relative;
    z-index: 2;
}


.about-intro img {
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
    /* object-position: top center; */
    max-width: 500px;
    /* max-height: 500px; */
    box-shadow: 30px 30px var(--accent-color-2);
    margin: auto;
    border-radius: 10px;

}

.about-imtro p {
    max-width: 600px;
}


/* .about-intro p:first-of-type {
    grid-area: 2 / 2 / 3 / 3;
    margin: 50px;
} */


.mapboxgl-map.map-holder {
    display: block;
    height: 100vh;
    /* width: 45vw; */
    width: 100vw;
    object-fit: cover;
    object-position: center;
    mix-blend-mode: multiply;
    position: fixed;
    /* z-index: -1; */
    top: 0;
    left: 0;
}

@media(max-width:768px) {
    .mapboxgl-map.map-holder {
        height: 100vw;
        width: 100%;
        max-height: 80vh;
    }
}

@media(max-width: 550px) {
    .mapboxgl-map.map-holder {
        height: 100vw;
        width: 100%;
    }
}

.note {
    margin-top: 100px;
}

.note p {
    margin-bottom: 5px;
}

.tooltip {
    opacity: 0;
    position: fixed;
    background-color: white;
    border-radius: 4px;
    z-index: 2;
    pointer-events: none;
    padding: 12px 15px;
    width: 225px;
    transition: 0.15s ease-in-out opacity;
}

.tooltip .name {
    font-weight: 500;
    line-height: 1;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #333;
}

.tooltip .description {
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}

.tooltip .vibe {
    font-style: italic;
    font-size: 15px;
    color: #666;
    line-height: 1.1;
}

.list {
    margin: 0;
    /* text-align: right; */
}