nav {
    width: 100vw;
    padding: 10px 5vw;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 15px auto;
    position: absolute;
    z-index: 2;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
}

.logo-holder {
    width: 50px;
}


.circle-holder {
    position: absolute;
    top: 30px;
}

.circle-1,
.circle-2,
.circle-3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(70.71% 70.71% at 50.00% 50%, #937B63 0%, rgba(147, 123, 99, 0.00) 100%);
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.circle-2 {
    width: 25px;
    height: 25px;
    left: 50px;
}

.circle-3 {
    width: 15px;
    height: 15px;
    left: 75px;
}

nav ul {
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: flex-end;
    border-top: 1px solid #937B63;
    align-self: center;
    padding-top: 10px;
    gap: 15px;
}

nav li {
    text-transform: uppercase;
    font-size: 15px;
}

nav a {
    text-decoration-color: transparent;
}

nav li a.active {
    text-decoration-color: var(--link-color);
    font-weight: 600;
}

@media(max-width:550px) {
    .logo-holder {
        width: 35px;
    }

    .circle-holder {
        top: 16px
    }

    .circle-1 {
        width: 25px;
        height: 25px;
    }

    .circle-2 {
        width: 17px;
        height: 17px;
        left: 22px;
    }

    .circle-3 {
        width: 10px;
        height: 10px;
        left: 40px;
    }

    nav {
        gap: 25px;
        margin: 10px auto;
    }

    nav ul {
        gap: 10px;
    }

    nav li {
        font-size: 14px;
    }
}