.time {
  margin: 1em 0;
  display: block;
}

.date {
  font-size: 20px;
  display: block;
  margin-bottom: 8px;
}

address {
  margin-bottom: 1em;
}

.note {
  margin-top: 100px;
}

.note p {
  margin-bottom: 5px;
}