.time {
  margin: 1em 0;
  display: block;
}

.date {
  font-size: 20px;
  display: block;
  margin-bottom: 8px;
}

address {
  margin-bottom: 0.5em;
}

.note {
  margin-top: 50px;
}

.note p {
  margin-bottom: 5px;
}

@media(max-width: 550px) {
  .big-photo {
    height: 60vw;
    width: 100%;
  }


}